body {
  background-color: black;
  color: white;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  padding: 0 2%;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.mission-card {
  background-color: purple;
}

.rocket-card {
  background-color: brown;
}

.card .img-container {
  position: relative;
  height: 240px;
  overflow: hidden;
}

.card .img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
